@import "../../styles/variables";

.ayah {
  background-color: $primaryColor;
  padding: 30px;
  border-radius: 12px;
  color: $colorGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 12px;
  border: 1px solid $colorGreen;

  button {
    font-size: 20px;
    padding: 12px 8px;
    border-radius: 25px;
    background-color: $colorGreen;
  }

  .progress {
    -webkit-appearance: none;
    width: 250px;
    height: 10px;
    background-color: $colorGreen;
    border-radius: 20px;
  }
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $primaryColor;
    border: 3px solid $colorGreen;
  }
}
